/* color pallete: https://coolors.co/16697a-489fb5-82c0cc-ede7e3-ffa62b */
body{
  width: 100%;
  height: 100vh;
  background-color: bisque;
}

header{
  width: 100%;
  height: 15%;
  background-color: #82c0cc;
  padding: 25px;
}
#fantascribe{
  font-size: 4em;
  font-family: 'Big Shoulders Stencil Display', cursive;
  margin: 1% 0 0 5%;
}
#logo{
  display: flex;
}
#logo img{
  height: 4em;
  margin: 1% 0 0 1%;
}
main{
  background-color: #fff;
  height: 100%;
}
.filters{
  background-color: #EDE7E3;
  display: flex;
  box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
  text-align: center;
  height: 20%;
}
.filters form{
  width: 75%;
  display: flex;
  margin:auto;
}
#filterFieldset{
  width: 50%;
}
#deleteAllNotesFieldset{
  width: 20%;
  position: relative;
  margin-left: 30%;
}
section{
  height: 100%;
  padding: 2%;
}

#allCards{
  height: 100%;
}
.card{
  background-color: #fff;
  padding: 5px;
  text-align: center;
  width: 33%;
  height: 33%;
  margin: auto;
  margin-bottom: 5%;
  box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
}
.card h1{
  color: #16697a;
  font-size: 1.6em;
}
.card h2{
  color: #489fb5;
  font-size: 1.2em;
}
.card h3{
  color: #16697a;
  font-size: 1.2em;
}
.card p{
  color: #16697a;
  font-size: 1em;
}
.card img{
  height: 8%;
  display: flex;
  float: right;
}

.card img:hover{
  border: solid black 1px ;
}
#create-note{
  background-color: #ede7e3;
  padding: 5px;
  position: fixed;
  right: 70%;
  width: 25%;
}
fieldset{
  border: none;
}

p{
  border: 1px solid black;
  padding: 2%;
}

.editCard{
  padding: 5px;
  text-align: center;
  width: 33%;
  height: 33%;
  box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
  position:absolute;
  background-color: #16697a;
  bottom: 10%;
  left: 35%;
}
